#feed-wrap {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 363px;
    padding: 30px 0 0;
    flex-grow: 0;
}

#photo-feed {
    float: left;
    margin-right: 28px;
    max-width: 614px;
    width: 100%;
    height: auto;
    min-width: 307px;
}


#user-actions {
    border: 1px solid rgba(0, 0, 0, 0.329);
    height: 100vh;
    width: 293px;
    float: right;
    max-width: 293px;
    flex-shrink: 0;
}

@media only screen and (max-width: 640px) {
    #user-actions {
        display: none;
    }
}


#card {
    border: 1px solid rgba(0, 0, 0, 0.329);
    border-radius: 3px;
    height: auto;
    margin-bottom: 60px;
}

#c-user {
    height: 60px;
    width: inherit;
    border-bottom: 1px solid rgba(0, 0, 0, 0.329);
}
#c-media, #c-img {
    max-width: 100%;
}
#c-actions {
    height: 40px;
    width: inherit;
    padding: 0 10px;
}
#c-comments {
    height: 200px;
    width: inherit;
    padding: 0 10px;
}