html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}

.navbar-container {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
}

.outer-nav {
    display: flex;
    width: 100%;
    background-color: #011c3b00;
    position: static;
    flex-grow: 0;
    border-bottom: 1px solid rgb(211,211,211);
    justify-content: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 64px;
    background-color: inherit;
}

.leftnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 33%;
}

#logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5%;
    /* padding-bottom: 1.5%; */
}

#logoimg {
    width: 50px;
    height: auto;
}

#logoimg2 {
    height: 33px;
    width: auto;
    margin-top: 5px;
}

.middlenav {
    display: flex;
    width: 33%;
    height: inherit;
    text-align: center;
    justify-content: center;
    align-items: center;
}


#search {
    position: static;
    flex-direction: row;
    width: 100%;
    border: 1px solid rgb(219,219,219);
    background-color: rgb(250,250,250);
    text-align: center;
    height: 25px;
    font-family: "Neue Plak", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
}

#search:focus {
    background-color: rgb(250,250,250);
    outline: none;
}

.search-bar-choices-container {
    position: fixed;
    width: 140px;
    margin-left: 5px; 
    background: white;
    z-index: initial;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    font-family: "Neue Plak", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
}

.searchbar-choice-div {
    border-bottom:1px solid rgb(219,219,219);
    padding: 5%;
}

.searchbar-choice-link {
    font-size: .8rem;
    color: black;
    text-decoration: none;
    font-weight: bold;    
}

.searchbar-choice-link:hover {
    color: rgb(64,80,181);
    cursor: pointer;
}

.rightnav {
    display: flex;
    width: 33%;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 1%;
}

#settings {
    justify-self: flex-end;
    float: inline-end;
    font: inherit;
    color: black;
}

#home-icon {
    fill: "rgba(255, 255, 255, 0.20)";

}
#navlink-login {
    color: black;
    text-decoration: none;
}
#navlink-profile {
    color: black;
    text-decoration: none;
}

.upload-icon-button-div {
   margin-top: 2%;
   width: 15%;
   margin-right: 5%;
   margin-left: 5%;
}

#hotdogupload {
    width: 28px;
    height: 28px;
}

#navlink-logout {
    text-decoration: none;
    color: black;
}

.home-icon-button {
    width: 15%;
    margin-top: 2%;
}

.home-icon {
    width: 28px;
    height: 28px;
}

#settings {
    height: 80%;
}

.user-icon-div {
    width: 15%;
    margin-top: 3%;
}

.user-icon {
    width: 30px;
    height: 30px;
}


@media screen and (max-width: 600px) {
    .middlenav {
        width: 33%;
    }
    #logoimg {
        display: none;
    }

    #logoimg2 {
        height: 25px;
        width: auto;
    }

    .rightnav {
        justify-content: center;
        width: 33%;
    }
    .leftnav {
        width: 33%;
    }
}