.upload-page-container {
    width: 100vw;
    height: 110vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(247, 247, 247);
    font-family: "Neue Plak", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
}

.upload-form-container {
    margin-top: 5%;
    width: 70%;
    height: 65%;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white
}

.upload-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.upload-photo {
    height: 10%;
    width: 10%;
}

.upload-photo:hover {
    cursor: pointer;
}

.upload-text-area-div {
    margin: 4%;
    width: 80%;
    display: flex;
    justify-content: center;
}

#upload-input {
    display: none;
}

.upload-button-label {
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.react-crop {
    width: 65%;
    height: 65%;
}

.loading-wheel-container {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}

.hidden {
    display: none
}