#profile-wrap {
    display: flex;
    flex-flow: column;
    margin: 0 363px;
    /* border: 1px solid black; */
    padding: 30px 0 0;
    flex-grow: 0;
    align-items: center;
    height: auto;
}

#user-card {
    display: inherit;
    flex-flow: row nowrap;
    height: 150px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.329);
    padding-bottom: 10px;
    padding-left: 40px;
}

#user-photo {
    width: 150px;
    min-width: 150px;
    height: inherit;
    justify-content: center;
    justify-items: center;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.233);
    border-radius: 50%;
}

#user-pic {
    margin-left: -50px;
    overflow: hidden;
}

#user-info {
    margin-left: 50px;
    width: 100%;
    text-align: left;
    justify-content: left;
}

.username {
    display: flex;
    flex-flow: row;
    height: 50%;
    width: 100%;
    justify-content: left;
}
#follows-posts {
    height: 25%;
    width: 100%;
}

.add-follow {
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    background-color: #0095f6;
    color: white;
    border-radius: 3px;
}

#bio {
    height: 50%;
    width: 100%;
}

#user-content {
    display: inherit;
    flex-flow: row wrap;
    padding-top: 20px;
    width: 100%;
    height: auto;
}

#user-post {
    min-width: 275px;
    height: 275px;
    width: 275px;
    margin: 10px;
    overflow: hidden;
}

#demo-post {
    height: 275px;
    max-width: 150%;
}

.errors-div > p {
    margin: 0px;
    margin-bottom: 1px;
    color: red;
    font-size: smaller;
}
