#profile-wrap {
    display: flex;
    flex-flow: column;
    margin: 0 363px;
    /* border: 1px solid black; */
    padding: 30px 0 0;
    flex-grow: 0;
}

#user-card {
    display: inherit;
    flex-flow: row nowrap;
    height: 150px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.329);
    padding-bottom: 10px;
    padding-left: 10px;
}

#user-photo {
    width: 150px;
    min-width: 150px;
    height: inherit;
    justify-content: center;
    justify-items: center;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.233);
    border-radius: 50%;
}

#user-pic {
    margin-left: -50px;
    overflow: hidden;
}

#user-content {
    display: inherit;
    flex-flow: row wrap;
    padding-top: 20px;
}

#user-post {
    min-width: 275px;
    height: 275px;
    width: 275px;
    border: 1px solid black;
    margin: 10px;
    overflow: hidden;
}

#demo-post {
    max-width: 150%;
}