body {
    background-color: rgb(250,250,250);;
}
.user-profile-page-container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

#profile-wrap {
    display: flex;
    flex-flow: column;
    margin: 0 363px;
    padding: 30px 0 0;
    flex-grow: 0;
    align-items: center;
    height: auto;
}

#user-card {
    display: inherit;
    flex-flow: row nowrap;
    height: 150px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    padding-left: 5%;
    padding-bottom: 3%;
}

#user-photo {
    width: 150px;
    min-width: 150px;
    height: inherit;
    justify-content: center;
    justify-items: center;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.233);
    border-radius: 50%;
}

#user-pic {
    width: 100%;
    height: 100%;
}

#user-info {
    margin-left: 50px;
    width: 100%;
    text-align: left;
    justify-content: left;
}

.username {
    display: flex;
    flex-flow: row;
    height: 50%;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}
#follows-posts {
    height: 25%;
    width: 100%;
}

#follows-posts > span {
    margin: 2%;
}

#follows-posts > span > span {
    font-weight: bold;
    margin-right: 1%;
}

.add-follow {
    height: 30px;
    width: 80px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    background-color: #0095f6;
    color: white;
    border-radius: 3px;
    border: none;
    z-index: 10;
}

.add-follow:hover {
    cursor: pointer;
    background-color: #0385db;
}

.disabled-button {
    background-color: gray;
}
.disabled-button:hover {
    background-color: gray;
    cursor: auto;
}

#bio {
    height: 50%;
    width: 100%;
}

#user-content {
    margin: auto;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90vw;
    max-width: 640px;
    height: auto;
    justify-content: flex-start;
    align-items: center;
}

#user-post {
    height: 100%;
    width: 100%;
    max-height: 200px;
    max-width: 200px;
    margin: 1%;
}

#demo-post {
    height: 100%;
    width: 100%;
    max-height: 200px;
    max-width: 200px;
}

.errors-div > p {
    margin: 0px;
    margin-bottom: 1px;
    color: red;
    font-size: smaller;
}

.upload-profile-pic-div {
    width: 51px;
    height: 51px;
    margin-right: 4%;
    margin-top: 2%;
    background-color: rgb(0,149,246);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

}

.upload-profile-pic-div:hover {
    cursor: pointer;
    background-color: rgb(15, 133, 211);
}

.upload-profile-pic-icon {
    width: 35px;
    height: 35px;
}

.username {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#profile-modal-container {
    position: fixed;
    background-color: rgba(236, 233, 233, .9);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.porfile-modal {
    left: 50%;
    top: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 75%;
    width: 75%;
}

.profile-modal-button {
    border: none;
    background-color:rgb(0,149,246);
    padding: 1.5%;
    font-size: 1rem;
    border-radius: 5px;
}

.profile-modal-button:hover {
    cursor: pointer;
    background-color: rgb(15, 133, 211);
}

#profile-modal-container.hide {
    display: none;
}

.user-page-modal-icon:hover {
    cursor: pointer;
}